
h1 {
    color: rgb(23, 23, 23);
}

body {
    background: url(image/beach.jpg);
    background-color: rgba(16, 90, 152, 0.5);
    height: 75vh;
    display: flex;
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif !important;
}


.container {
    width: 600px;
    background-color: #fcfdff;
    position: fixed;
    top: 150px;
    left: 525px;
    border-radius: 30px;
}
.logo img {
    position: fixed;
    top: -10px;
    left: 750px;
    border: none;
    width: 150px;
}
/* .kapal img {
    position: fixed;
    top: 0px;
    right: -20px;
    border: none;
    width: 1500px;
    height: 810px;
    border-radius: 30px;
} */

h1 {
    text-align: center;
}

label {
    font-size: 18px;
    font-weight: bold;
    color: rgb(17, 17, 17);
    margin-left: 25px;
}

.name, .email, .password, .nik, .alamat, .telp, .username {
    width: 500px;
    height: 20px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 25px;
    border: rgb(233, 232, 232) solid 1px;
    border-radius: 10px;
    padding: 20px;
}
/* .forgot a {
    color: #55ACEE;
    text-decoration: none;
    font-size: smaller;
} */
.checkbox1 {
    font-family: 'Poppins', sans-serif !important;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.checkbox1 a {
    color: #55ACEE;
    font-size: 14px;
    text-decoration: none;
    margin-right: 35px;
}
.checkbox {
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}
.or {
    font-size: medium;
}

.submit {
    text-align: center;
}

.submit2 {
    /* display: block; */
    /* justify-content: center; */
    align-items: center;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    margin-left: px;
    border-radius: 10px;
    background-color: #55ACEE;
    color: white;
    border: none;
    text-align: center;
}

.submit2:hover {
    color: black;
}

.or {
    position: relative;
    width: 100%;
    margin-top: 50px;
}
.or .garis {
    background: lightgray;
    width: 550px;
    height: 2px;
    margin-left: 25px;
    /* margin-right: 15px; */
}
.or .huruf {
    background: white;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
    left: 50%;
}

.tulisan {
    text-align: center;
    margin-top: 50px;
}
.tulisan a {
    color: #55ACEE;
    text-decoration: none;
}